.jumbotron{
    padding-top: 6rem;
    background-color: #202835;
}
#about{
    background-color: #2b364b;
}
#work{
    background-color: #202835;
}
#contact{
    background-color: #2b364b;
}
section{
    padding-top: 5rem;
}